In [71]:
import pandas as pd
import tensorflow as tf
import numpy as np

In [72]:
df = pd.read_csv("./data/car_price_prediction.csv")
print(df.head())
print(df.info())

         ID  Price  Levy Manufacturer    Model  Prod. year   Category  \
0  45654403  13328  1399        LEXUS   RX 450        2010       Jeep
1  44731507  16621  1018    CHEVROLET  Equinox        2011       Jeep
2  45774419   8467     -        HONDA      FIT        2006  Hatchback
3  45769185   3607   862         FORD   Escape        2011       Jeep
4  45809263  11726   446        HONDA      FIT        2014  Hatchback

  Leather interior Fuel type Engine volume    Mileage  Cylinders  \
0              Yes    Hybrid           3.5  186005 km        6.0
1               No    Petrol             3  192000 km        6.0
2               No    Petrol           1.3  200000 km        4.0
3              Yes    Hybrid           2.5  168966 km        4.0
4              Yes    Petrol           1.3   91901 km        4.0

  Gear box type Drive wheels   Doors             Wheel   Color  Airbags
0     Automatic          4x4  04-May        Left wheel  Silver       12
1     Tiptronic          4x4  04-May        Left wheel   Black        8
2      Variator        Front  04-May  Right-hand drive   Black        2
3     Automatic          4x4  04-May        Left wheel   White        0
4     Automatic        Front  04-May        Left wheel  Silver        4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB
None

In [73]:
df.columns = [col.strip().replace(' ', '_').replace('.', '').lower() for col in df.columns]
print(df.head())
print(df.info())

         id  price  levy manufacturer    model  prod_year   category  \
0  45654403  13328  1399        LEXUS   RX 450       2010       Jeep
1  44731507  16621  1018    CHEVROLET  Equinox       2011       Jeep
2  45774419   8467     -        HONDA      FIT       2006  Hatchback
3  45769185   3607   862         FORD   Escape       2011       Jeep
4  45809263  11726   446        HONDA      FIT       2014  Hatchback

  leather_interior fuel_type engine_volume    mileage  cylinders  \
0              Yes    Hybrid           3.5  186005 km        6.0
1               No    Petrol             3  192000 km        6.0
2               No    Petrol           1.3  200000 km        4.0
3              Yes    Hybrid           2.5  168966 km        4.0
4              Yes    Petrol           1.3   91901 km        4.0

  gear_box_type drive_wheels   doors             wheel   color  airbags
0     Automatic          4x4  04-May        Left wheel  Silver       12
1     Tiptronic          4x4  04-May        Left wheel   Black        8
2      Variator        Front  04-May  Right-hand drive   Black        2
3     Automatic          4x4  04-May        Left wheel   White        0
4     Automatic        Front  04-May        Left wheel  Silver        4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                19237 non-null  int64
 1   price             19237 non-null  int64
 2   levy              19237 non-null  object
 3   manufacturer      19237 non-null  object
 4   model             19237 non-null  object
 5   prod_year         19237 non-null  int64
 6   category          19237 non-null  object
 7   leather_interior  19237 non-null  object
 8   fuel_type         19237 non-null  object
 9   engine_volume     19237 non-null  object
 10  mileage           19237 non-null  object
 11  cylinders         19237 non-null  float64
 12  gear_box_type     19237 non-null  object
 13  drive_wheels      19237 non-null  object
 14  doors             19237 non-null  object
 15  wheel             19237 non-null  object
 16  color             19237 non-null  object
 17  airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB
None

In [74]:
print(df.isnull().sum())
print(df['leather_interior'].unique())

id                  0
price               0
levy                0
manufacturer        0
model               0
prod_year           0
category            0
leather_interior    0
fuel_type           0
engine_volume       0
mileage             0
cylinders           0
gear_box_type       0
drive_wheels        0
doors               0
wheel               0
color               0
airbags             0
dtype: int64
['Yes' 'No']

In [75]:
print(df.columns.tolist())
# df = df.drop(['id'], axis=1)
print(df.head())

['id', 'price', 'levy', 'manufacturer', 'model', 'prod_year', 'category', 'leather_interior', 'fuel_type', 'engine_volume', 'mileage', 'cylinders', 'gear_box_type', 'drive_wheels', 'doors', 'wheel', 'color', 'airbags']
         id  price  levy manufacturer    model  prod_year   category  \
0  45654403  13328  1399        LEXUS   RX 450       2010       Jeep
1  44731507  16621  1018    CHEVROLET  Equinox       2011       Jeep
2  45774419   8467     -        HONDA      FIT       2006  Hatchback
3  45769185   3607   862         FORD   Escape       2011       Jeep
4  45809263  11726   446        HONDA      FIT       2014  Hatchback

  leather_interior fuel_type engine_volume    mileage  cylinders  \
0              Yes    Hybrid           3.5  186005 km        6.0
1               No    Petrol             3  192000 km        6.0
2               No    Petrol           1.3  200000 km        4.0
3              Yes    Hybrid           2.5  168966 km        4.0
4              Yes    Petrol           1.3   91901 km        4.0

  gear_box_type drive_wheels   doors             wheel   color  airbags
0     Automatic          4x4  04-May        Left wheel  Silver       12
1     Tiptronic          4x4  04-May        Left wheel   Black        8
2      Variator        Front  04-May  Right-hand drive   Black        2
3     Automatic          4x4  04-May        Left wheel   White        0
4     Automatic        Front  04-May        Left wheel  Silver        4

In [76]:
print(df['leather_interior'].unique())
df['leather_interior'] = df['leather_interior'].map({'Yes': 1, 'No': 0})
print(df.head())
print(df['leather_interior'].unique())

['Yes' 'No']
         id  price  levy manufacturer    model  prod_year   category  \
0  45654403  13328  1399        LEXUS   RX 450       2010       Jeep
1  44731507  16621  1018    CHEVROLET  Equinox       2011       Jeep
2  45774419   8467     -        HONDA      FIT       2006  Hatchback
3  45769185   3607   862         FORD   Escape       2011       Jeep
4  45809263  11726   446        HONDA      FIT       2014  Hatchback

   leather_interior fuel_type engine_volume    mileage  cylinders  \
0                 1    Hybrid           3.5  186005 km        6.0
1                 0    Petrol             3  192000 km        6.0
2                 0    Petrol           1.3  200000 km        4.0
3                 1    Hybrid           2.5  168966 km        4.0
4                 1    Petrol           1.3   91901 km        4.0

  gear_box_type drive_wheels   doors             wheel   color  airbags
0     Automatic          4x4  04-May        Left wheel  Silver       12
1     Tiptronic          4x4  04-May        Left wheel   Black        8
2      Variator        Front  04-May  Right-hand drive   Black        2
3     Automatic          4x4  04-May        Left wheel   White        0
4     Automatic        Front  04-May        Left wheel  Silver        4
[1 0]

In [77]:
df['levy'] = df['levy'].replace('-', np.nan)
df['levy'] = df['levy'].str.replace(',', '').astype(float)
df['mileage'] = df['mileage'].astype(str).str.replace(' km', '', regex=False).str.replace(',', '', regex=False).astype(int)
print(df.head())

         id  price    levy manufacturer    model  prod_year   category  \
0  45654403  13328  1399.0        LEXUS   RX 450       2010       Jeep
1  44731507  16621  1018.0    CHEVROLET  Equinox       2011       Jeep
2  45774419   8467     NaN        HONDA      FIT       2006  Hatchback
3  45769185   3607   862.0         FORD   Escape       2011       Jeep
4  45809263  11726   446.0        HONDA      FIT       2014  Hatchback

   leather_interior fuel_type engine_volume  mileage  cylinders gear_box_type  \
0                 1    Hybrid           3.5   186005        6.0     Automatic
1                 0    Petrol             3   192000        6.0     Tiptronic
2                 0    Petrol           1.3   200000        4.0      Variator
3                 1    Hybrid           2.5   168966        4.0     Automatic
4                 1    Petrol           1.3    91901        4.0     Automatic

  drive_wheels   doors             wheel   color  airbags
0          4x4  04-May        Left wheel  Silver       12
1          4x4  04-May        Left wheel   Black        8
2        Front  04-May  Right-hand drive   Black        2
3          4x4  04-May        Left wheel   White        0
4        Front  04-May        Left wheel  Silver        4

In [78]:
#zmiana zmiennych tekstowych
cat_cols = df.select_dtypes(include='object').columns
label_encoders = {}
print(cat_cols)

Index(['manufacturer', 'model', 'category', 'fuel_type', 'engine_volume',
       'gear_box_type', 'drive_wheels', 'doors', 'wheel', 'color'],
      dtype='object')

In [79]:
categorical_cols = ['manufacturer', 'model', 'category', 'fuel_type',
                    'gear_box_type', 'drive_wheels', 'doors', 'wheel', 'color']

#one-hot encoding
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [80]:
print(df.head())
print(df.info())

         id  price    levy  prod_year  leather_interior engine_volume  \
0  45654403  13328  1399.0       2010                 1           3.5
1  44731507  16621  1018.0       2011                 0             3
2  45774419   8467     NaN       2006                 0           1.3
3  45769185   3607   862.0       2011                 1           2.5
4  45809263  11726   446.0       2014                 1           1.3

   mileage  cylinders  airbags  manufacturer_ALFA ROMEO  ...  color_Green  \
0   186005        6.0       12                    False  ...        False
1   192000        6.0        8                    False  ...        False
2   200000        4.0        2                    False  ...        False
3   168966        4.0        0                    False  ...        False
4    91901        4.0        4                    False  ...        False

   color_Grey  color_Orange  color_Pink  color_Purple  color_Red  \
0       False         False       False         False      False
1       False         False       False         False      False
2       False         False       False         False      False
3       False         False       False         False      False
4       False         False       False         False      False

   color_Silver  color_Sky blue  color_White  color_Yellow
0          True           False        False         False
1         False           False        False         False
2         False           False        False         False
3         False           False         True         False
4          True           False        False         False

[5 rows x 1701 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Columns: 1701 entries, id to color_Yellow
dtypes: bool(1692), float64(2), int64(6), object(1)
memory usage: 32.4+ MB
None